In [1]:
#importing libraries
import pandas as pd
import warnings

import ast
import json
import itertools
from collections import Counter, defaultdict

# import the regressor 
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn import preprocessing

In [2]:
#reading data
international_match_data = pd.read_csv('./data/international_raw_match_full.csv')

professional_match_data = pd.read_csv('./data/professional_raw_match_full.csv')

premier_match_data = pd.read_csv('./data/premier_raw_match_full.csv')

pd.set_option('display.max_columns', 500)

In [3]:
#displaying internation match dataset
display(international_match_data.head())

display(international_match_data.info())

,Unnamed: 0,Unnamed: 0.1,barracks_status_dire,barracks_status_radiant,cluster,cosmetics,dire_score,dire_team,draft_timings,duration,engine,first_blood_time,game_mode,human_players,league,leagueid,lobby_type,loss,match_id,match_seq_num,objectives,patch,picks_bans,radiant_gold_adv,radiant_score,radiant_team,radiant_win,radiant_xp_adv,region,series_id,series_type,skill,start_time,throw,tower_status_dire,tower_status_radiant,version
0,0,0.0,51,63,308,"{'647': 132, '4269': 129, '4538': 129, '4560':...",11,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1474,1,121,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,7103.0,4986461644,4182489532,"[{'time': 121, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",41,"[{'is_pick': False, 'hero_id': 52, 'team': 0, ...","[0, 185, 193, 451, 40, 42, -130, -604, -1114, ...",20,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...",True,"[0, -131, 5, -86, -27, 129, 963, 256, -290, -4...",NaN,360940,2,NaN,1566733817,1577.0,1926,1972,21.0
1,1,1.0,63,15,308,"{'647': 132, '4092': 1, '4358': 2, '4838': 3, ...",36,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1403,1,282,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,NaN,4986362254,4182407450,"[{'time': 283, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",41,"[{'is_pick': False, 'hero_id': 97, 'team': 0, ...","[0, -180, -420, -525, -556, -1028, -968, -1428...",11,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...",False,"[0, 106, -95, -190, -196, -318, -1219, -1921, ...",NaN,360940,2,NaN,1566730459,NaN,2046,1568,21.0
2,2,2.0,63,3,308,"{'647': 4, '4092': 1, '4515': 131, '5239': 1, ...",40,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1945,1,46,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,NaN,4986260666,4182333960,"[{'time': 47, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41,"[{'is_pick': False, 'hero_id': 97, 'team': 0, ...","[0, -404, -722, -530, -948, -644, -1043, -1184...",11,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...",False,"[0, 89, -85, 399, 262, 329, -4, 327, 132, 289,...",NaN,360940,2,NaN,1566726706,NaN,2038,1540,21.0
3,3,3.0,51,2,308,"{'647': 129, '4092': 1, '4838': 3, '5239': 1, ...",24,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2914,1,124,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,21495.0,4986133311,4182252910,"[{'time': 124, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",41,"[{'is_pick': False, 'hero_id': 52, 'team': 1, ...","[0, 377, 51, 260, 277, 620, 719, 1301, 1717, 1...",33,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...",True,"[0, 148, -396, -534, -840, -651, -800, -219, -...",NaN,360940,2,NaN,1566721992,0.0,260,1536,21.0
4,4,4.0,63,0,308,"{'647': 0, '4092': 129, '4184': 0, '5239': 129...",30,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2194,1,82,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,NaN,4985891168,4182034450,"[{'time': 82, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41,"[{'is_pick': False, 'hero_id': 52, 'team': 1, ...","[0, -347, -680, -651, -601, -664, -1206, -1157...",8,"{'team_id': 15, 'name': 'PSG.LGD', 'tag': 'PSG...",False,"[0, -71, -6, -92, -277, -650, -712, -721, -826...",NaN,360881,1,NaN,1566713543,NaN,2046,0,21.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2941 entries, 0 to 2940
Data columns (total 37 columns):
Unnamed: 0                 2941 non-null int64
Unnamed: 0.1               2940 non-null float64
barracks_status_dire       2941 non-null int64
barracks_status_radiant    2941 non-null int64
cluster                    2941 non-null int64
cosmetics                  2922 non-null object
dire_score                 2941 non-null int64
dire_team                  2913 non-null object
draft_timings              2291 non-null object
duration                   2941 non-null int64
engine                     2941 non-null int64
first_blood_time           2941 non-null int64
game_mode                  2941 non-null int64
human_players              2941 non-null int64
league                     2941 non-null object
leagueid                   2941 non-null int64
lobby_type                 2941 non-null int64
loss                       927 non-null float64
match_id                   2941 non-null int64
match_seq_num              2941 non-null int64
objectives                 2922 non-null object
patch                      2941 non-null int64
picks_bans                 2775 non-null object
radiant_gold_adv           2922 non-null object
radiant_score              2941 non-null int64
radiant_team               2913 non-null object
radiant_win                2941 non-null bool
radiant_xp_adv             2922 non-null object
region                     2732 non-null float64
series_id                  2941 non-null int64
series_type                2941 non-null int64
skill                      0 non-null float64
start_time                 2941 non-null int64
throw                      927 non-null float64
tower_status_dire          2941 non-null int64
tower_status_radiant       2941 non-null int64
version                    2922 non-null float64
dtypes: bool(1), float64(6), int64(21), object(9)
memory usage: 830.2+ KB

None

In [4]:
#displaying internation match dataset
display(professional_match_data.head())

display(professional_match_data.info())

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,barracks_status_dire,barracks_status_radiant,cluster,cosmetics,dire_score,dire_team,draft_timings,duration,engine,first_blood_time,game_mode,human_players,league,leagueid,lobby_type,loss,match_id,match_seq_num,objectives,patch,picks_bans,radiant_gold_adv,radiant_score,radiant_team,radiant_win,radiant_xp_adv,region,series_id,series_type,skill,start_time,throw,tower_status_dire,tower_status_radiant,version
0,0,0.0,0.0,0.0,0.0,3.0,63.0,236.0,"{'10898': 2, '12947': 4}",38.0,"{'team_id': 7359442, 'name': 'Team Aspirations...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2665.0,1.0,11.0,2.0,10.0,"{'leagueid': 11382, 'ticket': None, 'banner': ...",11382.0,1.0,12745.0,5.108886e+09,4.286706e+09,"[{'time': 12, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41.0,"[{'is_pick': False, 'hero_id': 9, 'team': 1, '...","[0, -185, -28, 17, 64, -426, -247, -1124, -104...",57.0,"{'team_id': 7314697, 'name': 'FIVE BROTHERS', ...",1.0,"[0, 438, 70, -266, 154, -576, -1088, -1768, -1...",NaN,385455.0,1.0,NaN,1.573480e+09,1914.0,4.0,1974.0,21.0
1,1,1.0,1.0,1.0,1.0,51.0,51.0,236.0,"{'4942': 129, '5043': 2, '5044': 2, '5045': 2,...",61.0,"{'team_id': 7467648, 'name': 'Punch gaming', '...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2855.0,1.0,0.0,2.0,10.0,"{'leagueid': 11382, 'ticket': None, 'banner': ...",11382.0,1.0,NaN,5.108800e+09,4.286625e+09,"[{'time': -1, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41.0,"[{'is_pick': False, 'hero_id': 58, 'team': 0, ...","[-328, -430, 637, 931, 906, 1602, 1589, 1229, ...",41.0,"{'team_id': 7408440, 'name': 'Look For Smile',...",0.0,"[-39, -7, 146, 304, 32, 1096, 1381, 4, 842, 64...",NaN,385449.0,1.0,NaN,1.573476e+09,NaN,1792.0,262.0,21.0
2,2,2.0,2.0,2.0,2.0,15.0,63.0,236.0,"{'602': 128, '4054': 128, '4254': 128, '4461':...",31.0,"{'team_id': 7408440, 'name': 'Look For Smile',...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2326.0,1.0,46.0,2.0,10.0,"{'leagueid': 11382, 'ticket': None, 'banner': ...",11382.0,1.0,2834.0,5.108735e+09,4.286561e+09,"[{'time': 47, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41.0,"[{'is_pick': False, 'hero_id': 79, 'team': 1, ...","[0, 609, 698, 1028, 899, 770, 627, 1051, 584, ...",42.0,"{'team_id': 7467648, 'name': 'Punch gaming', '...",1.0,"[0, 69, -104, 142, 345, 506, 464, 188, 291, -5...",NaN,385443.0,1.0,NaN,1.573473e+09,4907.0,4.0,1828.0,21.0
3,3,3.0,3.0,3.0,3.0,48.0,63.0,236.0,"{'647': 129, '4524': 4, '4527': 4, '4794': 131...",44.0,"{'team_id': 6634461, 'name': 'Team Sincere', '...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2619.0,1.0,16.0,2.0,10.0,"{'leagueid': 11263, 'ticket': None, 'banner': ...",11263.0,1.0,NaN,5.108711e+09,4.286544e+09,"[{'time': 16, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41.0,"[{'is_pick': False, 'hero_id': 52, 'team': 1, ...","[0, 12, -10, 359, 532, 1323, 2715, 2672, 2675,...",39.0,"{'team_id': 7253435, 'name': 'Team Galaxy', 't...",0.0,"[0, -85, 77, 383, 474, 1383, 1874, 1678, 1572,...",NaN,385430.0,1.0,NaN,1.573472e+09,NaN,1792.0,1414.0,21.0
4,4,4.0,4.0,4.0,4.0,63.0,0.0,236.0,"{'5266': 1, '5268': 1, '6037': 3, '6039': 3, '...",41.0,"{'team_id': 7451388, 'name': 'LieYing Team', '...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1431.0,1.0,34.0,2.0,10.0,"{'leagueid': 11407, 'ticket': None, 'banner': ...",11407.0,1.0,NaN,5.108703e+09,4.286520e+09,"[{'time': 35, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41.0,"[{'is_pick': False, 'hero_id': 60, 'team': 0, ...","[0, 13, -418, -335, -1309, -949, -1532, -3039,...",16.0,"{'team_id': 7443956, 'name': 'Black Knight', '...",0.0,"[0, -21, -84, -156, -916, -540, -142, -1673, -...",NaN,385436.0,1.0,NaN,1.573471e+09,NaN,1982.0,1536.0,21.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74339 entries, 0 to 74338
Data columns (total 40 columns):
Unnamed: 0                 74339 non-null int64
Unnamed: 0.1               74339 non-null float64
Unnamed: 0.1.1             74131 non-null float64
Unnamed: 0.1.1.1           50643 non-null float64
Unnamed: 0.1.1.1.1         50643 non-null float64
barracks_status_dire       74339 non-null float64
barracks_status_radiant    74339 non-null float64
cluster                    74339 non-null float64
cosmetics                  71252 non-null object
dire_score                 74339 non-null float64
dire_team                  69414 non-null object
draft_timings              55657 non-null object
duration                   74339 non-null float64
engine                     74339 non-null float64
first_blood_time           74339 non-null float64
game_mode                  74339 non-null float64
human_players              74339 non-null float64
league                     74339 non-null object
leagueid                   74339 non-null float64
lobby_type                 74339 non-null float64
loss                       24441 non-null float64
match_id                   74339 non-null float64
match_seq_num              74339 non-null float64
objectives                 71403 non-null object
patch                      74339 non-null float64
picks_bans                 70794 non-null object
radiant_gold_adv           71369 non-null object
radiant_score              74339 non-null float64
radiant_team               69400 non-null object
radiant_win                74339 non-null float64
radiant_xp_adv             71369 non-null object
region                     70015 non-null float64
series_id                  74336 non-null float64
series_type                74336 non-null float64
skill                      0 non-null float64
start_time                 74339 non-null float64
throw                      24441 non-null float64
tower_status_dire          74339 non-null float64
tower_status_radiant       74339 non-null float64
version                    71404 non-null float64
dtypes: float64(30), int64(1), object(9)
memory usage: 22.7+ MB

None

In [5]:
#displaying internation match dataset
display(premier_match_data.head())

display(premier_match_data.info())

,Unnamed: 0,Unnamed: 0.1,barracks_status_dire,barracks_status_radiant,cluster,cosmetics,dire_score,dire_team,draft_timings,duration,engine,first_blood_time,game_mode,human_players,league,leagueid,lobby_type,loss,match_id,match_seq_num,objectives,patch,picks_bans,radiant_gold_adv,radiant_score,radiant_team,radiant_win,radiant_xp_adv,region,series_id,series_type,skill,start_time,throw,tower_status_dire,tower_status_radiant,version
0,0,0.0,51,63,308,"{'647': 132, '4269': 129, '4538': 129, '4560':...",11,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1474,1,121,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,7103.0,4986461644,4182489532,"[{'time': 121, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",41,"[{'is_pick': False, 'hero_id': 52, 'team': 0, ...","[0, 185, 193, 451, 40, 42, -130, -604, -1114, ...",20,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...",True,"[0, -131, 5, -86, -27, 129, 963, 256, -290, -4...",NaN,360940.0,2.0,NaN,1566733817,1577.0,1926,1972,21.0
1,1,1.0,63,15,308,"{'647': 132, '4092': 1, '4358': 2, '4838': 3, ...",36,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1403,1,282,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,NaN,4986362254,4182407450,"[{'time': 283, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",41,"[{'is_pick': False, 'hero_id': 97, 'team': 0, ...","[0, -180, -420, -525, -556, -1028, -968, -1428...",11,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...",False,"[0, 106, -95, -190, -196, -318, -1219, -1921, ...",NaN,360940.0,2.0,NaN,1566730459,NaN,2046,1568,21.0
2,2,2.0,63,3,308,"{'647': 4, '4092': 1, '4515': 131, '5239': 1, ...",40,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",1945,1,46,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,NaN,4986260666,4182333960,"[{'time': 47, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41,"[{'is_pick': False, 'hero_id': 97, 'team': 0, ...","[0, -404, -722, -530, -948, -644, -1043, -1184...",11,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...",False,"[0, 89, -85, 399, 262, 329, -4, 327, 132, 289,...",NaN,360940.0,2.0,NaN,1566726706,NaN,2038,1540,21.0
3,3,3.0,51,2,308,"{'647': 129, '4092': 1, '4838': 3, '5239': 1, ...",24,"{'team_id': 2586976, 'name': 'OG', 'tag': 'OG'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2914,1,124,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,21495.0,4986133311,4182252910,"[{'time': 124, 'type': 'CHAT_MESSAGE_FIRSTBLOO...",41,"[{'is_pick': False, 'hero_id': 52, 'team': 1, ...","[0, 377, 51, 260, 277, 620, 719, 1301, 1717, 1...",33,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...",True,"[0, 148, -396, -534, -840, -651, -800, -219, -...",NaN,360940.0,2.0,NaN,1566721992,0.0,260,1536,21.0
4,4,4.0,63,0,308,"{'647': 0, '4092': 129, '4184': 0, '5239': 129...",30,"{'team_id': 2163, 'name': 'Team Liquid', 'tag'...","[{'active_team': 2,\n 'extra_time': 130,\n 'he...",2194,1,82,2,10,"{'leagueid': 10749, 'ticket': None, 'banner': ...",10749,1,NaN,4985891168,4182034450,"[{'time': 82, 'type': 'CHAT_MESSAGE_FIRSTBLOOD...",41,"[{'is_pick': False, 'hero_id': 52, 'team': 1, ...","[0, -347, -680, -651, -601, -664, -1206, -1157...",8,"{'team_id': 15, 'name': 'PSG.LGD', 'tag': 'PSG...",False,"[0, -71, -6, -92, -277, -650, -712, -721, -826...",NaN,360881.0,1.0,NaN,1566713543,NaN,2046,0,21.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17622 entries, 0 to 17621
Data columns (total 37 columns):
Unnamed: 0                 17622 non-null int64
Unnamed: 0.1               16001 non-null float64
barracks_status_dire       17622 non-null int64
barracks_status_radiant    17622 non-null int64
cluster                    17622 non-null int64
cosmetics                  16790 non-null object
dire_score                 17622 non-null int64
dire_team                  17107 non-null object
draft_timings              12302 non-null object
duration                   17622 non-null int64
engine                     17622 non-null int64
first_blood_time           17622 non-null int64
game_mode                  17622 non-null int64
human_players              17622 non-null int64
league                     17622 non-null object
leagueid                   17622 non-null int64
lobby_type                 17622 non-null int64
loss                       5718 non-null float64
match_id                   17622 non-null int64
match_seq_num              17622 non-null int64
objectives                 16818 non-null object
patch                      17622 non-null int64
picks_bans                 16655 non-null object
radiant_gold_adv           16818 non-null object
radiant_score              17622 non-null int64
radiant_team               17067 non-null object
radiant_win                17622 non-null bool
radiant_xp_adv             16818 non-null object
region                     16984 non-null float64
series_id                  17621 non-null float64
series_type                17621 non-null float64
skill                      0 non-null float64
start_time                 17622 non-null int64
throw                      5718 non-null float64
tower_status_dire          17622 non-null int64
tower_status_radiant       17622 non-null int64
version                    16819 non-null float64
dtypes: bool(1), float64(8), int64(19), object(9)
memory usage: 4.9+ MB

None

The three datasets are too large. So I've taken only one particular column from above dataset which is necessary for the classifcation model and merged all the data.

In [6]:
'''
This function will return set of 5 hero id's which was picked by each teams in each game and who won the match.
It also returns the list of banned heroes in the game.
'''
def collect_picks_bans(row):
    picks_dire = []
    picks_radi = []
    bans_hero = []
    
    json_string = row["picks_bans"]   

    if isinstance(json_string, str):
        json_string = ast.literal_eval(json_string.replace("'",'"'))
        data = json.loads(json.dumps(json_string))

        picks_dire = [data[v]['hero_id'] for v in range(len(data)) if data[v]['is_pick'] == True and data[v]['team'] == 0]
        picks_radi = [data[v]['hero_id'] for v in range(len(data)) if data[v]['is_pick'] == True and data[v]['team'] == 1]
        
        bans_hero = [data[v]['hero_id'] for v in range(len(data)) if data[v]['is_pick'] == False]
        
        picks_dire.append(row["match_id"])
        picks_radi.append(row["match_id"])
        
        if row["radiant_win"]:
            picks_radi.append(True)
            picks_dire.append(False)
        else:
            picks_dire.append(True)
            picks_radi.append(False)

        return picks_dire, picks_radi, bans_hero

I've three different data,so I've merged all the three different games(international, professional and premier) data together.

In [7]:
picks_heroes_lists = []
bans_heroes_lists = []

# international match data
for index,row in international_match_data.iterrows():
    row = row.copy()
    picks = collect_picks_bans(row)
    
    if picks:
        picks[0].append('Dire')
        picks[1].append('Radi')
        picks_heroes_lists.append(picks[0])
        picks_heroes_lists.append(picks[1])
        bans_heroes_lists.extend(picks[2])

# professional match data
for index,row in professional_match_data.iterrows():
    row = row.copy()
    picks = collect_picks_bans(row)
    
    if picks:
        picks[0].append('Dire')
        picks[1].append('Radi')
        picks_heroes_lists.append(picks[0])
        picks_heroes_lists.append(picks[1])
        bans_heroes_lists.extend(picks[2])

# premier match data
for index,row in premier_match_data.iterrows():
    row = row.copy()
    picks = collect_picks_bans(row)
    
    if picks:
        picks[0].append('Dire')
        picks[1].append('Radi')
        picks_heroes_lists.append(picks[0])
        picks_heroes_lists.append(picks[1])
        bans_heroes_lists.extend(picks[2])

The data above is in list format. So I've converted it into DataFrame and arranged the columns.

In [8]:
df = pd.DataFrame(picks_heroes_lists, columns = ['P1' , 'P2', 'P3', 'P4', 'P5', 'match_id', 'win', 'team'])

df = df[['match_id', 'team', 'P1' , 'P2', 'P3', 'P4', 'P5','win']]

display(df)

            match_id  team  P1   P2   P3   P4  P5    win
0       4.986462e+09  Dire  91   19  102   98  72  False
1       4.986462e+09  Radi  66   57   99  107  21   True
2       4.986362e+09  Dire  86   29   84   46   8   True
3       4.986362e+09  Radi  58   19  121   41  45  False
4       4.986261e+09  Dire  29   46   27   54  33   True
...              ...   ...  ..  ...  ...  ...  ..    ...
180443  1.303273e+09  Radi  11    7   87   38  12  False
180444  6.316360e+08  Dire  74    9   53   89   3  False
180445  6.316360e+08  Radi  68   16   69   13   1   True
180446  1.376698e+09  Dire  17  101   51   91  67  False
180447  1.376698e+09  Radi  65   11   75   85  39   True

[180448 rows x 8 columns]

In [9]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180448 entries, 0 to 180447
Data columns (total 8 columns):
match_id    180448 non-null float64
team        180448 non-null object
P1          180448 non-null int64
P2          180448 non-null int64
P3          180448 non-null int64
P4          180448 non-null int64
P5          180448 non-null int64
win         180448 non-null bool
dtypes: bool(1), float64(1), int64(5), object(1)
memory usage: 9.8+ MB

None

Here,I'm taking a json file containing name, id's and localized_name of the DOTA-2 Heroes
and the function below returns the Name of the hero by parsing through the Hero ID.

In [10]:
with open('./data/heroes.json') as f:
    heroes_list = json.load(f)

#printing only first data to give an overview of the json structure
print(json.dumps(heroes_list[0], indent=2, sort_keys=True))
    
def hero_name(_id):
    for hero in heroes_list:
        if hero['id'] == _id:
            return hero['localized_name']

{
  "id": 1,
  "localized_name": "Anti-Mage",
  "name": "antimage"
}

Below, I've found which hero has been banned the most in all the collected data from the different type of games.

In [11]:
ban_heroes = Counter(bans_heroes_lists)

hero_id = ban_heroes.most_common(1)[0][0]
h_name = hero_name(hero_id)

print('Hero -', h_name,', Id:',hero_id ,'is ban in most of the games.')

Hero - Batrider , Id: 65 is banned the most in the games.

Now, I'll find which hero has been picked the most by the winning teams.

In [12]:
MyList =[]
M_L = []

for lst in picks_heroes_lists:
    #if lst['win'] == True
    if lst[6]:
        MyList.extend([lst[0],lst[1],lst[2],lst[3],lst[4]])
        M_L.append([lst[0],lst[1],lst[2],lst[3],lst[4]])
        
a = Counter(MyList)

hero_id = a.most_common(1)[0][0]
h_name = hero_name(hero_id)

print('Hero -', h_name,', Id:',hero_id ,'are picked in most of the won games.')

Hero - Rubick , Id: 86 is picked the most.

Now, I'll find which set of 2 heroes are picked the most by the winning teams.

In [13]:
'''
This will give ID of the most common combination of 2 heroes, picked by the winning teams
'''
counts = defaultdict(int)
for collab in M_L:
    collab.sort()
    for pair in itertools.combinations(collab, 2):
        counts[pair] += 1
        
counts = sorted(counts.items(),  key=lambda x: x[1], reverse=True )[0][0]

print("Following are the set of 2 Heroes picked most by the winning teams.")

for hero_id in counts:
    h_name = hero_name(hero_id)
    print('Hero Id:',hero_id, ', Name: ',h_name)

Following are the set of 2 Heroes which are picked most.
Hero Id: 54 , Name:  Lifestealer
Hero Id: 86 , Name:  Rubick

Now, I'll find which set of 3 heroes which were picked most by the winning teams.

In [14]:
'''
This will give ID of the most common combination of 3 heroes, picked by the winning teams
'''
counts = defaultdict(int)
for collab in M_L:
    collab.sort()
    for pair in itertools.combinations(collab, 3):
        counts[pair] += 1
        
counts = sorted(counts.items(),  key=lambda x: x[1], reverse=True )[0][0]

print("Following are the set of 3 Heroes most commonly picked by the winning teams")

for hero_id in counts:
    h_name = hero_name(hero_id)
    print('Hero Id:',hero_id, ', Name: ',h_name)

Following are the set of 3 Heroes most commonly picked by the winning teams.
Hero Id: 13 , Name:  Puck
Hero Id: 54 , Name:  Lifestealer
Hero Id: 86 , Name:  Rubick

In [15]:
#Taking data of winning teams only
playdf = df[df['win'] == True]

display(playdf)

            match_id  team   P1   P2   P3   P4  P5   win
1       4.986462e+09  Radi   66   57   99  107  21  True
2       4.986362e+09  Dire   86   29   84   46   8  True
4       4.986261e+09  Dire   29   46   27   54  33  True
7       4.986133e+09  Radi   58  103   19   67  45  True
8       4.985891e+09  Dire  103   86   41   11  55  True
...              ...   ...  ...  ...  ...  ...  ..   ...
180438  6.311117e+08  Dire   74   68    9   42  63  True
180440  1.386652e+09  Dire   26   11  102   85  47  True
180442  1.303273e+09  Dire   65   20   47    6  84  True
180445  6.316360e+08  Radi   68   16   69   13   1  True
180447  1.376698e+09  Radi   65   11   75   85  39  True

[90224 rows x 8 columns]

Here, I'll find out which of the teams, Dire or Radi, won most of the games

In [16]:
dire_count = len(playdf[playdf['team'] == 'Dire'])
radi_count = len(playdf[playdf['team'] == 'Radi'])

print(dire_count, radi_count)

43691 46533

Most of the games were won by the Radi team.

---
Now, taking only the data from two matches I'll apply different Classification models to find out which model will give better results for our dataset.

In [17]:
#Taking only the data necessary for the classification model
X=playdf[['P1', 'P2', 'P3', 'P4', 'P5']]
y=playdf['team']

First, I'll apply Randon Forest Classifier.

In [18]:
from sklearn.ensemble import RandomForestClassifier

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # 80% training and 20% test

#Create a Gaussian Classifier
clf = RandomForestClassifier(n_estimators=100, max_features=3)

clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=3, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
y_pred=clf.predict(X_test)

randomForestResult = round(metrics.accuracy_score(y_test, y_pred), 4)

print("Accuracy: ",randomForestResult)

Accuracy:  0.6654

Now, I'll try Logistic-Regression for the same dataset.

In [20]:
# Logistic-Regression
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr')
LR.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2', random_state=0,
                   solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [21]:
LR.predict(X)
LogisticRegressionResult = round(LR.score(X,y), 4)

print("Accuracy: ",LogisticRegressionResult)

Accuracy:  0.5158

Now, applying Support Vector Machines for the same dataset.

In [22]:
# Support Vector Machines

from sklearn import svm
SVM = svm.LinearSVC()
SVM.fit(X, y)

C:\Users\dhirkkum\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [23]:
SVM.predict(X)
svmResult = round(SVM.score(X,y), 4)

print("Accuracy: ",svmResult)

Accuracy:  0.5101

And Finally, applying Neural Network for the same dataset.

In [24]:
# Neural Networks MLPClassifier

import sklearn as sk
from sklearn.neural_network import MLPClassifier

NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
NN.fit(X, y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 2), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [25]:
NN.predict(X)
MLPClassifierResult = round(NN.score(X,y), 4)

print("Accuracy: ",MLPClassifierResult)

Accuracy:  0.4861

In [26]:
print('Model\t\t\tPredictive Accuracy')
print('Logistic Regression\t',LogisticRegressionResult,'%')
print('Support Vector Machine\t',svmResult,'%')
print('Random Forest\t\t',randomForestResult,'%')
print('Neural Network\t\t', MLPClassifierResult,'%')

Model			Predictive Accuracy
Logistic Regression	 0.5158 %
Support Vector Machine	 0.5101 %
Random Forest		 0.6654 %
Neural Network		 0.4861 %

This shows us that for the above data, Random Forest classifier gave the most accurate results.

---
#### Summary
* First I took three dataset of different type of games of DOTA-2 i.e. International, Premier and Professional mathces.
* The whole dataset is too large so I took only the particular columns from the dataset that I have used for my analysis i.e Match ID, Player1-Heroid, Player2-Heroid, Player3-Heroid ,Player4-Heroid , Player4-Heroid and match result.
* Then I've merged all different datas together.
* Taking a json file containing name, id's and localized_name of the DOTA-2 Heroes, I've written a function which returned Name of the hero by parsing through the Hero ID.
* After this I've found out which hero has been banned the most, from the data collected from different type of games.
* Then I've found which hero has been picked the most by the winning teams.
* Since a set of 5 heroes were yielding empty sets,I've found out which set/combination of  2 and 3 heroes were picked the most by the winning teams.
* Then, I've found out which teams,Dire or Radi, won most of the games.
* Then for the classifcation model I took only the data from the winning games.
* I've tried to apply different Classifcation model on the datasets and found out which model is better for our dataet.
* Finally, I've found that the Random Forest classifier gives the most accurate results for our dataset.